@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bg-color-dark: #0a0a0a;
  --primary-text-color-dark: #e2e2e2;
  --primary-hover-dark: #333333;
  --gray: #1f1f1f;
  --lightGray: #333333;
  --graytext: #6b6b6b;
  --primary-placeholder: #6b6b6b;
  --primary-disable-bg: #414141;
  --primary-disable-text: #999999;
  --error-color: #ff0000;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-bg-color-dark);
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  transition: margin-left 0.3s;
  font-family: "Roboto", sans-serif;
}

.acordion__wrapper {
  position: relative;
}

.acordion__wrapper input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}

.acordion__wrapper label::before {
  /* content: ''; */
  /* display: inline-block;
  border: 15px solid transparent;
  border-left: 20px solid white; */
}
.acordion__wrapper label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.acordion__container {
  margin-top: 10px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.acordion__wrapper input:checked ~ label::before {
  /* border-left: 15px solid transparent;
  border-top: 20px solid white; */
  /* margin-top: 12px;
  margin-right: 10px; */
}

.acordion__wrapper input:checked ~ .acordion__container {
  max-height: 1000px;
  transition: max-height 1s;
}

/*
***** action buttons ******
*/
.menu-item,
.menu-open-button {
  background: #00bcd4;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}
.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  left: 10%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  /* width: 100%; */
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}
.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(70px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(140px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(210px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(280px, 0, 0);
}

/*
***** action buttons end ******
*/

.base__root {
  background: rgb(147, 209, 209);
}
